@model IEnumerable<CartItem>

<h2>Carrello</h2>
<form asp-action="ConfirmOrder" method="post">
    <div class="container mt-5">
        <h2 class="mb-4">Riepilogo Ordine</h2>
        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Pizza</th>
                    <th scope="col">Quantità</th>
                    <th scope="col">Prezzo</th>
                    <th scope="col">Totale</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Pizza.Nome</td>
                        <td>@item.Quantity</td>
                        <td>@item.Pizza.Prezzo €</td>
                        <td>@(item.Pizza.Prezzo * item.Quantity) €</td>
                    </tr>
                }
            </tbody>
        </table>

        <div class="form-group mt-3">
            <label for="shippingAddress">Indirizzo di spedizione</label>
            <input type="text" id="shippingAddress" name="shippingAddress" class="form-control" required />
        </div>
        <div class="form-group mt-3">
            <label for="notes">Note</label>
            <textarea id="notes" name="notes" class="form-control" rows="3"></textarea>
        </div>
        <input type="submit" value="Concludi ordine" class="btn btn-success btn-block mt-3" />
    </div>
</form>